nav {
    padding: 10px;
    .navbar-brand {
        img {
            max-height: 3.2rem;
            position: relative;
            top: -5px;
        }
        strong {
            font-size: 20px;
            margin-left: 5px;
            color: white;
        }
        span {
            color: black;
        }
    }
}

#banner-area {
    width: auto;
    .jumbotron {
        background-color: #779cb3;
        color: white;
        padding: 40px;
        #banner-contents {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            #banner-text {
                width: 600px;
                text-align: center;
                h1 {
                    font-size: 40px;
                    text-align: center;
                    line-height: 1;
                    font-weight: 400;
                    span {
                        font-size: 70px;
                        font-weight: 800;
                    }
                }
                hr {

                }
                p {
                    font-size: 30px;
                    line-height: 1.5;
                }
                button {
                    margin-top: 10px;
                    font-weight: bold;
                }
            }
            #banner-image {
                width: 600px;
                img {
                    width: auto;
                }
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    #banner-image {
        display: none;
    }
}

